autogluon-tabular[all]==1.0.0
matplotlib
networkx
numpy
ogb
pandas
psutil
pyarrow
pydantic==1.10.12
pytest
pyyaml
requests[security]
scikit-learn
scipy
tqdm
dask
dask[dataframe]
wandb
optuna
s3fs
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.0+cu117
torchmetrics
torchtext
torchdata
--pre
--find-links https://data.dgl.ai/wheels-test/cu117/repo.html
dgl==2.1a240205+cu117
einops
typer
featuretools
transformers
boto3
mysqlclient
sqlalchemy
sqlalchemy_schemadisplay
openai
tiktoken
streamlit
cloudpathlib
gensim
devtools
duckdb
sqlglot
sql_formatter
sentence-transformers==2.7.0