autogluon-tabular[all]
matplotlib
networkx
numpy
ogb
pandas
psutil
pyarrow
pydantic==1.10.12
pytest
pyyaml
requests[security]
scikit-learn
scipy
tqdm
dask
dask[dataframe]
wandb
optuna
s3fs
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.0+cu118
torchmetrics
torchtext
torchdata==0.7.0
--pre
--find-links https://data.dgl.ai/wheels-test/cu118/repo.html
dgl==2.1a240205+cu118
einops
typer
featuretools
transformers
boto3
# mysqlclient
sqlalchemy
sqlalchemy_schemadisplay
openai
tiktoken
streamlit
cloudpathlib
gensim
devtools
duckdb
sqlglot
sql_formatter
sentence-transformers==2.7.0